@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
html {
  scroll-behavior: smooth; /* İşte sihirli kod bu */
}
/* Scrollbar'ın genişliği */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar'ın arka planı (Yol) */
::-webkit-scrollbar-track {
  background: #0a0a0a; /* Sitenin arka planına yakın bir siyah */
}

/* Hareket eden çubuk (Thumb) */
::-webkit-scrollbar-thumb {
  background: #333; /* Koyu gri */
  border-radius: 5px; /* Kenarları yuvarlak olsun */
}

/* Üzerine gelince çubuğun rengi değişsin */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
